_Resharper*
.venv
.idea

vk_video
vulkan
profile_output.prof
test.h
test_vulkan.h

data_struct/__pycache__

past/__pycache__
past/language/__pycache__

vk/__pycache__
vk/c/__pycache__
vk/cpp/__pycache__
vk/lang/__pycache__
